@import '../../main.less';

.tk_Project_Client_Tag {
  height: 22px;
  padding: 0 7px;
  margin-right: 8px;
  background: @tk_LightGray;
  color: @tk_Black;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
}