@import '../../main.less';

.tk_Project_Client_Tag {
  height: 20px;
  padding: 0 5px;
  background: @tk_LightGray;
  color: @tk_White;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
}