# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
/data/

# Frontend -- START
# dependencies
frontend/node_modules
frontend/node
frontend/.pnp
frontend.pnp.js
frontend/target
frontend/log.txt
# testing
frontend/coverage
# production
frontend/build
# misc
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignored. AntD Pro ignore those 2 files
frontend/yarn.lock
frontend/package-lock.json

# Frontend -- END
