@import '../../main.less';

#tk_Menu {
  margin-top: 32px;
  .tk_MenuItem {
    margin: 0;
    height: 60px;
    .mixin_Flexbox_Basis();
    &:hover {
      background: rgba(39, 40, 54, .5);
    }
    a {
      span:first-child {margin-right: 16px;}
    }
  }
  .ant-menu-item-selected {
    background: @tk_Black;
    border-left: 3px solid @tk_Red;
    a {
      span:first-child {color: @tk_Red;}
    }
  }
}
