@import '../../timekeeper-theme.less';

.tk_Header_Profile {
  border-left: 1px solid rgba(216, 216, 216, 0.1);
  padding: 0 0px 0 20px;
  height: 64px;
  margin-left: -1px;
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;

    p {
      margin-left: 12px;
      margin-bottom: 0;
      line-height: 16px;
      color: @white_Tk;
      span {
        font-size: 10px;
        color: @lightGray_Tk;
      }
    }
  }
}