@import '../../main.less';

.tk_Header_Profile {
  border-left: @tk_Border_Base;
  padding: 0 20px;
  height: 64px;
  margin-left: -1px;
  .mixin_Flexbox_Basis();
  button {
    background: none;
    border: none;
    .mixin_Flexbox_Basis();
    &:hover {
      background: none;
      border: none;
    }
    p {
      margin-left: 12px;
      margin-bottom: 0;
      line-height: 16px;
      color: @tk_White;
      text-align: left;
      span {
        font-size: 10px;
        color: @tk_LightGray;
      }
    }
  }
}