@import '../../timekeeper-theme.less';

#tk_List {
  border-top: 1px solid rgba(216, 216, 216, 0.1);
  margin-top: 26px;
  padding-top: 26px;
}

.subtitle {
  color: @lightGray_Tk;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.ant-card-head {
  border-bottom: none !important;
}
.ant-card-body {
  padding-top: 12px !important;
  padding-bottom: 16px !important;
}
.ant-card-actions {
  border-top: none !important;
}
.ant-collapse-item {
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: none !important;
  text-align: left;
  font-weight: lighter;
}
.ant-collapse-header {
  border-top: 1px solid rgba(216, 216, 216, 0.1);

  padding: 16px 0 !important;
}
.ant-collapse-header span.anticon-right {
  right: 0 !important;
}
.ant-collapse-content-box {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ant-card-actions > li {
  margin: 0 !important;
}
.ant-card-actions {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.projectList {
  background-color: @black_Tk;
  border-radius: 4px;
}
.projectList .ant-list-item {
  padding-left: 10px;
}
.usersTag {
  background-color: @red_Tk !important;
  border-radius: 12px !important;
  border-color: transparent !important;
  right: 0 !important;
  position: absolute;
}

.usersTag:hover {
  opacity: 1 !important;
}