@import '../../timekeeper-theme.less';

#tk_List {
  border-top: 1px solid rgba(216, 216, 216, 0.1);
  margin-top: 26px;
  padding-top: 26px;
}

.subtitle {
  color: @lightGray_Tk;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.ant-card-extra {
  padding-top: 0 !important;
}
.ant-card-head {
  border-bottom: none !important;
}
.ant-card-body {
  padding-top: 12px !important;
  padding-bottom: 16px !important;
}
.ant-collapse-item {
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: none !important;
  text-align: left;
  font-weight: lighter;
}
.ant-collapse-header {
  border-top: 1px solid rgba(216, 216, 216, 0.1);
  padding: 16px 0 !important;
}
.ant-collapse-header span.anticon-right {
  right: 0 !important;
}
.ant-collapse-content-box {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ant-card-actions > li {
  margin: 0 !important;
}
.ant-card-actions {
  border-top: none !important;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.ant-list-item {
  margin-bottom: 24px !important;
}
.projectList {
  background-color: @black_Tk;
  border-radius: 4px;
}
.projectList .ant-list-item {
  padding-left: 10px;
}
.usersTag {
  background-color: @red_Tk !important;
  border-radius: 12px !important;
  border-color: transparent !important;
  right: 0 !important;
  position: absolute;
}
.usersTag:hover {
  opacity: 1 !important;
}
.tk_Search_Input {
  background-color: transparent !important;
  position: absolute!important;
  right: 0 !important;
  line-height: 16px;
}
.tk_Search_Input .ant-select-selection-search-input {
  background-color: transparent !important;
  border: none !important;
  line-height: 16px;
}
.tk_Search_Input input {
  background-color: transparent !important;
  border: none !important;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  text-align: right;
  padding-top: 0;
  color: @white_Tk !important;
}
.ant-input-clear-icon svg {
  color: @mediumGray_Tk;
}
.ant-input-clear-icon svg:hover {
  color: @lightGray_Tk;
}
.ant-select-selection-search-input:focus, .ant-input-affix-wrapper-focused {
  box-shadow: 0 0 0 2px @mediumGray_Tk !important;
}