@import '../../main.less';

#tk_List {
}
.tk_Search_Input {
  background: none;
  .ant-select-selection-search-input {
    background: none;
    border: @tk_Border_Base;
    svg {
      margin-right: 8px;
      font-size: 14px;
      color: @tk_LightGray;
    }
    input {
      background: none;
      font-size: 14px;
      color: @tk_LightGray;
    }
  }
}
#tk_UsersTag {margin-right: 0;}