.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:#e9484e;
    border-radius:4px;
    color:#ffffff;

    span {
        display: flex;
        align-items: center;
    }
}

.sider-logo {
    width: 178px;
    padding: 16px;
}

.sider-link {
    border-color: #FFF;
    color: #FFF;
}