@import '../../main.less';

.tk_TopPage {
  .mixin_Flexbox_Basis();
  justify-content: space-between;
}
#tk_Card_Sm {
  padding: 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 220px;
  .ant-card-head {
    border-bottom: 0;
    min-height: 40px;
    padding: 0;
    .ant-card-head-wrapper {
      align-items: flex-start;
      a {
        color: @tk_LightGray;
        &:hover {color: @tk_White;}
      }
      .ant-card-head-title {padding: 0;}
      .ant-card-extra {padding: 0;}
      .tk_Card_ProjectHeader {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40px;
        .tk_Card_ProjectTitle {
          .mixin_Flexbox_Basis();
          p {
            .mixin_Flexbox_Basis();
            margin-bottom: 0;
            &:first-child {
              font-size: 16px;
              font-weight: 500;
              line-height: 1;
              border-right: @tk_Border_Base;
              padding-right: 8px;
              margin-right: 8px;
            }
            &:nth-child(2) {
              height: 20px;
              font-size: 12px;
              font-weight: 400;
              border-radius: 4px;
              padding: 0 5px;
              background: @tk_LightGray;
            }
          }
        }
        .tk_Card_ProjectType {
          margin-bottom: 0;
          font-size: 14px;
          font-weight: 400;
          line-height: 1;
          color: @tk_LightGray;
        }
      }
    }
  }
  .ant-card-body {
    margin: 20px 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    height: 58px;
    .ant-card-meta-description {
      height: 65px;
    }
  }
  .ant-card-actions {
    border-top: @tk_Border_Base;
    li {
      margin: 0;
      .ant-collapse-item {
        border-bottom: 0;
        .ant-collapse-header {
          text-align: left;
          margin-top: 20px;
          padding: 0;
          .ant-collapse-arrow {right: 0;}
        }
        .ant-collapse-content {
          .ant-collapse-content-box {
            padding: 0;
          }
        }
      }
    }
  }
}
#tk_ProjectMembers {
  margin-top: 20px;
  .ant-list-items {
    .ant-list-item {
      padding: 0;
      margin-bottom: 5px;
      border-bottom: none;
      &:last-child {margin-bottom: 0;}
      .tk_Client_ProjectList {
        background: @tk_Black;
        padding: 0 8px;
        height: 40px;
        border-radius: 4px;
        &:last-child {margin-bottom: 0;}
        p {margin-bottom: 0;}
        .ant-avatar {
          border-radius: 5rem;
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
.tk_SubHeader {
  border-bottom: @tk_Border_Base;
  margin-bottom: 32px;
  padding-bottom: 16px;
  > p {
    margin-bottom: 0;
    color: @tk_LightGray;
  }
}
.tk_SubHeader, .tk_SubHeader_RightPart {
  .mixin_Flexbox_Basis();
  justify-content: space-between;
}
.tk_SubHeader_Filters {
  .mixin_Flexbox_Basis();
  justify-content: space-between;
  margin-right: 32px;
  &:last-child {margin-right: 0;}
  p {
    margin-bottom: 0;
    margin-right: 8px;
  }
}
#tk_ProjectNoCollapse {
  cursor: default;
  &:hover {color: @tk_LightGray;}
}
.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {background-color: rgba(216, 216, 216, 0.1)!important;}
.ant-dropdown-menu-item > a > span {
  margin-right: 8px;
}