@import '../../timekeeper-theme.less';

.tk_TopPage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#tk_Card_Sm {
  padding: 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
  .ant-card-head {
    border-bottom: 0;
    min-height: 40px;
    padding: 0;
    .ant-card-head-wrapper {
      align-items: flex-start;
      a {
        color: @lightGray_Tk;
        &:hover {color: @white_Tk;}
      }
      .ant-card-head-title {padding: 0;}
      .ant-card-extra {padding: 0;}
      .tk_Card_Sm_Header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40px;
        p:first-child {
          margin-bottom: 0;
          font-size: 18px;
          font-weight: 600;
          line-height: 1;
        }
        p:last-child {
          margin-bottom: 0;
          font-size: 14px;
          font-weight: 400;
          line-height: 1;
          color: @lightGray_Tk;
        }
      }
    }
  }
  .ant-card-body {
    margin: 20px 0;
    padding: 0;
  }
  .ant-card-actions {
    border-top: 1px solid rgba(216, 216, 216, 0.1);
    li {
      margin: 0;
      .ant-collapse-item {
        border-bottom: 0;
        .ant-collapse-header {
          text-align: left;
          margin-top: 20px;
          padding: 0;
          .ant-collapse-arrow {right: 0;}
        }
        .ant-collapse-content {
          .ant-collapse-content-box {
            padding: 0;
            .tk_Project_MemberList {
              margin-top: 20px;
              .ant-list-item {
                padding: 0;
                height: 50px;
                padding: 0 10px;
                border-radius: 6px;
                background-color: @black_Tk;
                margin-bottom: 5px;
                &:last-child {
                  margin-bottom: 0;
                }
                .ant-avatar {
                  border-radius: 5rem;
                  width: 32px;
                  height: 32px;
                }
              }
            }
          }
        }
      }
    }
  }
}