@import '../../main.less';

.tk_ProjectAtt {
  margin-bottom: 0;
  padding: 14px 0px;
  border-top: @tk_Border_Base;
  border-bottom: @tk_Border_Base;
  &:last-child {border-top: none;}
  span:first-child {margin-right: 6px;}
}
.tk_ProjectDesc {
  margin-top: 32px;

}