@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap&css');

@import '~antd/dist/antd.less'; // Introduce the official dark less style entry file
@import 'timekeeper-theme.less';

body {
  font-family: 'Montserrat', sans-serif!important;
  color: @body-background;
}

.App {
  text-align: left;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f8f9fd;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-family: "Fira Sans",Tahoma,Arial,sans-serif;
}

.userPanel{
  margin: 10px;
}

.userProfile{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div.userProfile p{
  border-bottom: 1px solid #eee;
  text-align: left;
}

.header {
  color:#ffffee !important;
}
.mainContent{
  margin: 10px 15px;
  min-height: 87vh !important;
  background-color: white;
  padding: 10px
}
.footerTk{
  text-align: center;
}
.logo {
  height: 32px;
  color: #ffffff;
  margin: 16px;
}
