@import '../../timekeeper-theme.less';

.tk_Card {
  div:last-child {
    background: @darkGray_Tk;
    border: none;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    table {
      tbody {
        tr {
          border-bottom: 1px solid rgba(216, 216, 216, 0.1);
          th {
            background: @black_Tk;
            border-right: 1px solid rgba(216, 216, 216, 0.1);
          }
          &:first-child th {border-top-left-radius: 6px;}
          &:last-child th {border-bottom-left-radius: 6px;}
        }
      }
    }
  }
}