@import '../../timekeeper-theme.less';

.tk_CardWeekCalendar {
  background: @darkGray_Tk;
  border: none;
  border-radius: 6px;
  padding: 32px;
  height: 250px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
    //background: #21222b;
    box-shadow: none;
  }
  button {
    background-color: @black_Tk !important;
    color: @lightGray_Tk !important;
    border: none !important;
  }
}
.tk_CardWeekCalendar:hover {
  button {
    background-color: @red_Tk !important;
    color: @white_Tk !important;
    border: none !important;
  }
}
