@import '../../main.less';

.tk_TaskCard {
  margin-bottom: 8px;
  background: @tk_Black;
  padding: 8px;
  border-left: 2px solid #1890FF;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > div {
    span {
      span:first-child {display: none;}
      span:last-child {
        width: 100%;
        margin-left: 0;
        padding: 0px;
        font-size: 12px;
        text-transform: capitalize;
        display: -webkit-box;
        height: @line-height * @lines-to-show; /* Fallback for non-webkit */
        line-height: @line-height;
        -webkit-line-clamp: @lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    p {
      color: @tk_LightGray;
      font-size: 11px;
      margin-bottom: 0;
    }
  }
  > p {
    margin-bottom: 0;
    color: #1890FF;
    font-size: 12px;
    .mixin_Flexbox_Basis();
    justify-content: flex-end;
    span {margin-right: 4px;}
  }
  p {margin-bottom: 0;}
  &:hover {
    border-left: 2px solid lighten(#1890FF, 30%);
    > p {
      color: lighten(#1890FF, 30%);
    }
  }
  &:last-child {margin-bottom: 0;}
}
.tk_FormItemGroup {
  display: flex;
}