@import '../../timekeeper-theme.less';

.tk_Information {
  margin-bottom: 0;
  padding: 14px 0px;
  color: @white_Tk;
  border-top: 1px solid rgba(216, 216, 216, 0.1);
  border-bottom: 1px solid rgba(216, 216, 216, 0.1);
  &:last-child {border-top: none;}
  span:first-child {margin-right: 6px;}
}
.ant-picker-dropdown {
  .ant-picker-panel-container {
    .ant-picker-panel {
      .ant-picker-date-panel {
        .ant-picker-header {
          button {
            color: @lightGray_Tk;
            &:hover {color: @white_Tk;}
          }
          .ant-picker-header-view {
            button {
              color: @white_Tk;
              &:hover {color: @red_Tk;}
            }

          }
        }
        .ant-picker-body {
          tbody {
            tr {
              td {
                color: @lightGray_Tk;
                div {
                  &:hover {
                    background: @red_Tk;
                    color: @white_Tk;
                  }
                }
              }
            }
          }
        }
      }
      .ant-picker-footer {
        a {
          color: @white_Tk;
          &:hover {color: @red_Tk;}
        }
      }
    }
  }
}
.ant-modal-root {
  .ant-modal-wrap {
    .ant-modal {
      margin: 0 0 0 auto;
      padding-bottom: 0;
      top: 0;
      .ant-modal-content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-radius: 0;
        overflow: scroll;
        .ant-modal-close {
          position: absolute;
          margin: 32px 64px 64px 64px;
          &:hover {color: @white_Tk;}
          .ant-modal-close-x {
            font-size: 26px;
            width: initial;
            height: initial;
            line-height: 0;
          }
        }
        .ant-modal-body {
          padding: 0;
          width: 100%;
        }
      }
    }
  }
}
.tk_ModalGen {

}
.tk_ModalTop {
  padding: 96px 64px 64px 64px;
  .tk_ModalTopHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    h1 {
      margin-bottom: 0;
      font-size: 32px;
      font-weight: 400;
    }
    a {
      text-decoration: underline;
      color: @red_Tk;
      &:hover {text-decoration: none;}
    }
  }
  .tk_ModalTopBody {
    .tk_ModalTopProject {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid rgba(216, 216, 216, 0.1);
      div {
        display: flex;
        align-items: center;
        h2 {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 0;
        }
      }
      p {
        margin-bottom: 0;
        span {margin-right: 6px;}
      }
    }
    .tk_CardMember {margin-bottom: 16px;}
    .tk_Information {
      &:first-child {border-top: none;}
      &:last-child {border-bottom: none;}
    }
  }
}
.tk_ModalBottom {
  padding: 64px;
  border-top: 1px solid rgba(216, 216, 216, 0.1);
}