@import '../../main.less';

.tk_Information {
  margin-bottom: 0;
  padding: 14px 0px;
  color: @tk_White;
  border-top: @tk_Border_Base;
  border-bottom: @tk_Border_Base;
  &:last-child {border-top: none;}
  span:first-child {margin-right: 6px;}
}
.ant-picker-dropdown {
  .ant-picker-panel-container {
    .ant-picker-panel {
      .ant-picker-date-panel {
        .ant-picker-header {
          button {
            color: @tk_LightGray;
            &:hover {color: @tk_White;}
          }
          .ant-picker-header-view {
            button {
              color: @tk_White;
              &:hover {color: @tk_Red;}
            }

          }
        }
        .ant-picker-body {
          tbody {
            tr {
              td {
                color: @tk_LightGray;
                div {
                  &:hover {
                    background: @tk_Red;
                    color: @tk_White;
                  }
                }
              }
            }
          }
        }
      }
      .ant-picker-footer {
        a {
          color: @tk_White;
          &:hover {color: @tk_Red;}
        }
      }
    }
  }
}