@import '../../timekeeper-theme.less';

.tk_Information {
  margin-bottom: 0;
  padding: 14px 0px;
  color: @white_Tk;
  border-top: 1px solid rgba(216, 216, 216, 0.1);
  border-bottom: 1px solid rgba(216, 216, 216, 0.1);
  &:last-child {border-top: none;}
  span:first-child {margin-right: 6px;}
}
.ant-picker-dropdown {
  .ant-picker-panel-container {
    .ant-picker-panel {
      .ant-picker-date-panel {
        .ant-picker-header {
          button {
            color: @lightGray_Tk;
            &:hover {color: @white_Tk;}
          }
          .ant-picker-header-view {
            button {
              color: @white_Tk;
              &:hover {color: @red_Tk;}
            }

          }
        }
        .ant-picker-body {
          tbody {
            tr {
              td {
                color: @lightGray_Tk;
                div {
                  &:hover {
                    background: @red_Tk;
                    color: @white_Tk;
                  }
                }
              }
            }
          }
        }
      }
      .ant-picker-footer {
        a {
          color: @white_Tk;
          &:hover {color: @red_Tk;}
        }
      }
    }
  }
}